
html, body {
  margin:0;
  padding:0;
  height:100%;
}

 body{
    background-color:white    ;
    
  }  
  .navbar-nav {
    margin-left: auto;
    /*position: absolute;
    left: 50%;
    transform: translatex(-50%);*/
}


.ofertas{
  position:sticky;
  opacity: 80%;
  border-radius: 200px;
  margin: 1px;
  background-color: black;
}
h1{
  
  color: white;
  margin: 2px;
  padding: 12px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}



.footer {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  
  
}

.footer a{

  color:black;
  list-style: none;
  text-decoration: none;
  margin: auto;
}
.footer a img{
  padding-top: 10px;
  width: 30px;
}