body{
    background-color:white    ;
    
  }  
  .ofertas{
 
    opacity: 80%;
    border-radius: 200px;
    margin: 1px;
    background-color: rgb(92, 7, 7);
  }
  h1{
  font-size:25px;
    color: white;
    margin: 2px;
    padding: 12px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      line-height: 30px;
  }
  