.footer {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    border-bottom: solid gray 5px;
    
  }
  
  .footer a{
  
    color:black;
    list-style: none;
    text-decoration: none;
    margin: auto;
  }
  .footer a img{
    padding-top: 10px;
    width: 30px;
    padding-bottom: 20px;
   
  }